
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    
    <style type="text/css">
       
        body {
            font-family: 'Open Sans','Trebuchet MS', Arial, sans-serif;
        }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
    <center>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
            <tr>
                <td align="left" valign="top">
                    <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
                        <tr>
                            <td align="center" valign="top">

                                <table width="640" cellpadding="0" cellspacing="0" border="0" class="container">
                                    <!-- top -->
                                    <tr>
                                        <td colspan="3" height="40" bgcolor="#449D44" align="center" style="font-size:1.2rem; color:#fff;">
                                            <a href="@ViewData["actualhost"]" target="_blank" style="color:#fff; font-weight:bold; text-decoration:none;">www.promocaoagora.com.br</a>
                                        </td>
                                    </tr>
                                    <!-- header -->
                                    <tr>
                                        <td colspan="3" height="150" bgcolor="#212A33" align="center">
                                            <h1 style="font-size:1.8rem; color:#fff;">DIVULGUE SUA EMPRESA OU NEGÓCIO GRATUITAMENTE</h1>
                                        </td>
                                    </tr>
                                    <!-- content2col -->
                                    <tr>
                                        <td width="340" class="mobile" align="center" valign="top" bgcolor="#212A33">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <td align="center" width="40" valign="top"></td>
                                                    <td align="left" width="300" valign="top" style="color:#70FF68">
                                                        <h2 style="color:#70FF68">Anuncie no Promoção Agora, é GRÁTIS!</h2>
                                                        <h3><img src="@ViewData["actualhost"]/Content/img/check_bgescuro2.png" /> <span style="color:#FFF; font-family:Arial, sans-serif; font-size:1.1rem">Atinja o público que está a sua volta</span></h3>
                                                        <h3><img src="@ViewData["actualhost"]/Content/img/check_bgescuro2.png" /> <span style="color:#FFF; font-family:Arial, sans-serif; font-size:1.1rem">Crie uma promoção em menos de 3 minutos</span></h3>
                                                        <h3><img src="@ViewData["actualhost"]/Content/img/check_bgescuro2.png" /> <span style="color:#FFF; font-family:Arial, sans-serif; font-size:1.1rem">Dê um desconto no seu produto ou serviço</span></h3>
                                                        <h3><img src="@ViewData["actualhost"]/Content/img/check_bgescuro2.png" /> <span style="color:#FFF; font-family:Arial, sans-serif; font-size:1.1rem">e VOILÀ... Sua promoção estará acessível no site</span></h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="20" valign="top" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" width="40" valign="top"></td>
                                                    <td align="left" width="300" valign="top">
                                                        <!-- Botao -->
                                                        <table width="100%" height="54" cellpadding="0" cellspacing="0" border="0" bgcolor="#449D44" style="border-radius:4px;">
                                                            <tr>
                                                                <td align="center" valign="middle" height="44" style="font-family: Arial, sans-serif; font-size:16px; font-weight:bold;">
                                                                    <a href="@ViewData["actualhost"]/crm/track?_email=##EMAIL##&_campanha=@ViewData["campanha"]&_acao=CLICK&_template=Basico" target="_blank" style="font-family: Arial, sans-serif; color:#ffffff; display: inline-block; text-decoration: none; line-height:44px; width:220px; font-weight:bold;">CRIE SUA PROMOÇÃO</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn" bgcolor="#212A33">&nbsp;</td>
                                        <td width="300" class="mobile" align="center" valign="top" bgcolor="#212A33">
                                            <img src="https://www.promocaoagora.com.br/Content/img/mobile-site.png" width="200" alt="Imagem do site mobile" />
                                        </td>
                                    </tr>
                                    <!-- content1col -->
                                    <tr>
                                        <td colspan="3" height="60" bgcolor="#212A33" align="center" style="font-size:1.8rem; color:#fff;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <!-- footer -->
                                    <tr>
                                        <td colspan="3" bgcolor="#000000" align="center" height="10"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="#000000" align="center" height="10" style="font-size:1.0rem; color:#fff;">Promoção Agora - 2018</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="#000000" align="center" style="font-size:1.0rem; color:#fff;">
                                            <a style="font-size:0.9rem; color:#f5f5f5; text-decoration:none;" href="https://www.promocaoagora.com.br/site/quemsomos">Quem Somos</a> &nbsp;
                                            <a style="font-size:0.9rem; color:#f5f5f5; text-decoration:none;" href="https://www.promocaoagora.com.br/site/cadastrocliente">Cadastre-se</a> &nbsp;
                                            <a style="font-size:0.9rem; color:#f5f5f5; text-decoration:none;" href="https://www.promocaoagora.com.br/site/faq">Perguntas Frequentes</a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="#000000" align="center" height="10"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="#FFFFFF" align="center" height="10"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="#FFFFFF" align="center" height="10" style="font-size:0.7rem;">Caso deseje não receber mais email, clique <a href="#">aqui</a>.</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </center>
    <img src="@ViewData["actualhost"]/crm/track?_email=##EMAIL##&_campanha=@ViewData["campanha"]&_acao=OPEN" width="1px" height="1px" />
</body>
</html>
